<button type="button" class=" m-4 bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 hover:cursor-pointer float-end" (click)="OpenCheckModal()">
    <ng-icon name="featherPlus" color="white"></ng-icon>
</button>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-6">
    @for (monthlySpent of monthlySpent; track $index) {
    <ul role="list" class="contents ">
      <li class="flex flex-col justify-between first:items-center rounded-lg shadow-md overflow-hidden transition-all duration-300 hover:-translate-y-1">
        <div class="p-2 flex items-center">
          <div>
            <h3 class="text-lg font-semibold text-gray-900 text-center ">Monthly Spent of {{ monthlySpent.month }}<br> {{ monthlySpent.year }} </h3>
            <span class="text-sm text-indigo-600" [ngStyle]="{'color': monthlySpent.totalAmount <= 2500 ? 'green' : 'red'}">{{ monthlySpent.totalAmount | currency:'TND'}}</span>
            <p class="text-sm text-gray-500 mt-1">Regional Paradigm Technician</p>
          </div>
        </div>
        <div class="px-4 pb-4 text-sm text-red-600">
          <a class="float-end items-center space-x-1 hover:underline hover:cursor-pointer" (click)="OpenCheckModal()">
            <span>Delete</span>
          </a>
        </div>
      </li>
    </ul>
    }
  </div>
  
  @if (isCheckModalOpen) {
    <div class="fixed inset-0 flex items-center justify-center z-50 bg-opacity-0">
        <div class="bg-white p-4 rounded-lg shadow-lg ">
          <h2 class="text-center mb-4 text-2xl font-bold">Are you Sure About this ? this action is reversable !</h2>
          <div class="flex flex-col justify-between">
              <div class="mb-4">
              <div class="block justify-between lg:flex sm:block m-4">
                <button
                  type="submit"
                  class="w-full m-4 bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 disabled:opacity-50 disabled:cursor-not-allowed hover:cursor-pointer"
                >
                  Confirm
                </button>
                <button
                  type="button"
                  class="w-full m-4 bg-gray-100 text-black px-4 py-2 rounded-md hover:bg-gray-200 hover:cursor-pointer"
                  (click)="CloseCheckModal()"
                >
                  Cancel
                </button>
              </div>          
            </div>
        </div>
      </div>
   </div>
} 