<div class="flex flex-col">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-4xl font-bold text-gray-900">Vacation Requests</h1>
        <p class="slashed-zero font-bold">{{filteredRequests.length}}</p>
    </div>

    <!-- Filter Buttons -->
    <div class="flex gap-2 mb-4">
        <button 
            (click)="applyFilter('all')"
            [class.bg-indigo-600]="currentFilter === 'all'"
            [class.text-white]="currentFilter === 'all'"
            [class.hover:text-black]="currentFilter === 'all'"
            class="px-4 py-2 rounded-md hover:bg-gray-100 border border-gray-200">
            All
        </button>
        <button 
            (click)="applyFilter('pending')"
            [class.bg-indigo-600]="currentFilter === 'pending'"
            [class.text-white]="currentFilter === 'pending'"
            [class.hover:text-black]="currentFilter === 'pending'"
            class="px-4 py-2 rounded-md hover:bg-gray-100 border border-gray-200">
            Pending
        </button>
        <button 
            (click)="applyFilter('approved')"
            [class.bg-indigo-600]="currentFilter === 'approved'"
            [class.text-white]="currentFilter === 'approved'"
            [class.hover:text-black]="currentFilter === 'approved'"
            class="px-4 py-2 rounded-md hover:bg-gray-100 border border-gray-200">
            Approved
        </button>
        <button 
            (click)="applyFilter('rejected')"
            [class.bg-indigo-600]="currentFilter === 'rejected'"
            [class.text-white]="currentFilter === 'rejected'"
            [class.hover:text-black]="currentFilter === 'rejected'"
            class="px-4 py-2 rounded-md hover:bg-gray-100 border border-gray-200">
            Rejected
        </button>
    </div>

    <ul class="overflow-y-scroll h-96">
        @for(request of filteredRequests; track request){
        <li class="flex justify-between items-center hover:bg-gray-100 cursor-pointer p-5">
            <div>
                <h3>{{request.reason}}</h3>
                <span>
                    {{request.startDate | date}} - {{request.endDate | date}}
                </span>
            </div>
            <div class="inline-flex rounded-md shadow-sm border border-gray-300 overflow-hidden">
                <button class="px-4 py-2 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                    @if(request.isApproved){
                    <ng-icon name="featherCheck" color="green"></ng-icon>
                    }
                    @else if(request.isPending){
                    <ng-icon name="featherClock" color="grey"></ng-icon>
                    }
                    @else{
                    <ng-icon name="featherX" color="red"></ng-icon>
                    }
                </button>
            </div>
        </li>
        <hr class="border-gray-200">
        }
    </ul>
</div>