<div>
  <div class="flex flex-col items-center justify-center">
        <img src="user.png" alt="user" class="object-cover h-30 w-30 rounded-full bg-gray-200 flex justify-center items-center">
  </div>
  <div class="m-4">
    <form>
      <div class="flex flex-col m-4">
        <label for="name" class="text-2xl font-bold mb-2">Name</label>
        <input type="text"
          class="appearance-none rounded-lg px-3 py-2 border border-gray-200 placeholder-gray-400 
          text-gray-900 focus:outline-none focus:ring-2 focus:ring-sky-500 
          focus:border-sky-500 focus:z-10 sm:text-sm"
          id="name" name="name">
      </div>
  
      <div class="flex flex-col m-4">
        <label for="email" class="text-2xl font-bold mb-2">Email</label>
        <input type="email"
          class="appearance-none rounded-lg px-3 py-2 border border-gray-200 placeholder-gray-400 
          text-gray-900 focus:outline-none focus:ring-2 focus:ring-sky-500 
          focus:border-sky-500 focus:z-10 sm:text-sm"
          id="email" name="email">
      </div>
  
      <div class="flex flex-col m-4">
        <label for="phone" class="text-2xl font-bold mb-2">Phone</label>
        <input type="tel"
          class="appearance-none rounded-lg px-3 py-2 border border-gray-200 placeholder-gray-400 
          text-gray-900 focus:outline-none focus:ring-2 focus:ring-sky-500 
          focus:border-sky-500 focus:z-10 sm:text-sm"
          id="phone" name="phone" maxlength="8">
      </div>
  
      <div class="flex flex-col m-4">
        <label for="salary" class="text-2xl font-bold mb-2">Salary</label>
        <input type="number"
          class="appearance-none rounded-lg px-3 py-2 border border-gray-200 placeholder-gray-400 
          text-gray-900 focus:outline-none focus:ring-2 focus:ring-sky-500 
          focus:border-sky-500 focus:z-10 sm:text-sm"
          id="salary" name="salary">
      </div>
  
      <div class="flex flex-col m-4">
        <label for="cin" class="text-2xl font-bold mb-2">Cin</label>
        <input type="tel"
          class="appearance-none rounded-lg px-3 py-2 border border-gray-200 placeholder-gray-400 
          text-gray-900 focus:outline-none focus:ring-2 focus:ring-sky-500 
          focus:border-sky-500 focus:z-10 sm:text-sm"
          id="cin" name="cin" maxlength="8">
      </div>
      <div class="flex flex-end m-4">
        <button type="button" class="w-full m-4 bg-gray-100 text-black px-4 py-2 rounded-md hover:bg-gray-200 hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">Cancel</button>
        <button type="submit" class="w-full m-4 bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 hover:cursor-pointer">Save</button>
      </div>
    </form>

  </div>
  
</div>
